<div class="share-page">
  <div class="share-links">
    {% if site.share_facebook %}
    <a class="fa fa-facebook"
      href="https://facebook.com/sharer.php?u={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}" rel="nofollow"
      target="_blank" title="{{ site.text.share_buttons.facebook | default: "Share on Facebook" }}"></a>
    {% endif %}

    {% if site.share_twitter %}
    <a class="fa fa-twitter"
      href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }}&amp;url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}"
      rel="nofollow" target="_blank" title="{{ site.text.share_buttons.twitter | default: "Share on Twitter" }}"></a>
    {% endif %}

    {% if site.share_linkedin %}
    <a class="fa fa-linkedin"
      href="http://www.linkedin.com/shareArticle?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;title={{ page.title | cgi_escape }}"
      rel="nofollow" target="_blank" title="{{ site.text.share_buttons.linkedin | default: "Share on LinkedIn" }}"></a>
    {% endif %}

    {% if site.share_tumblr %}
    <a class="fa fa-tumblr"
      href="http://www.tumblr.com/share/link?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;name={{ page.title | cgi_escape }}"
      rel="nofollow" target="_blank" title="{{ site.text.share_buttons.tumblr | default: "Share on Tumblr" }}"></a>
    {% endif %}

    {% if site.share_reddit %}
    <a class="fa fa-reddit"
      href="http://reddit.com/submit?url={{ site.url | cgi_escape }}{{ page.url | cgi_escape }}&amp;title={{ page.title | cgi_escape }}"
      rel="nofollow" target="_blank" title="{{ site.text.share_buttons.reddit | default: "Share on Reddit" }}"></a>
    {% endif %}

    {% if site.share_email %}
    <a class="fa fa-envelope"
      href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{ site.baseurl }}{{ page.url }}"
      title="Share via Email"></a>
    {% endif %}
  </div>
</div>